<div class="container mt-4">
    <div class="alert alert-success">
        <h4>Special Discounts!</h4>
        <ul>
            <li>Get 20% off on selected books this week!</li>
            <li>Buy 2, get 1 free on all novels!</li>
            <li>Sign up for our newsletter and get an additional 10% discount on your next purchase!</li>
        </ul>
    </div>
</div>
