<div class="container mt-4" id="salesNotification">
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script>
    $(function () {
        // Start SignalR connection
        var connection = new signalR.HubConnectionBuilder().withUrl("/SalesHub").build();
        
        // Function to handle the notification
        connection.on('ReceiveSalesNotification', function (message) {
            $('#salesNotification').html('<div class="alert alert-success">' + message + '</div>');
        });

        connection.start().done(function () {
            console.log('User connected to SignalR');
        });
    });
</script>
